@use "_mixins.scss" as mixins;

.card {
  text-align: center;
  @include mixins.flexbox(column, flex-start, center,);
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  margin: 0 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
    p {
    margin-bottom: 0;
  }
}

.large {
  width: 430px;
}

.card-title {
  text-align: center;
}

.card-content {
  width: inherit;
  @include mixins.flexbox(row, space-between, center,);
}

.card-content-left {
  width: 215px;
    i {
    color: #8C1c13;
  }
}

.card-divider {
  width: 0;
  height: 130px;
  border-right: solid 2px lightgray;
  position: absolute;
  margin-top: 50px;
}

.card-content-right {
  width: 215px;
  text-align: center;
  @include mixins.flexbox(column, space-around, center,);
    span {
    margin-top: 10px;
    margin-bottom: 10px;
      i {
      margin-right: 5px;
    }
  }
}

.card-goals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 130px;
  margin-left: 20px;
  margin-right: 40px;
    span b {
   font-size: large;
 }
}

.chart-box-large {
  height: 140px;
  width: 400px;
  padding-left: 10px;
}

.chart-box-small {
  height: 140px;
  width: 150px;
  padding-left: 20px;
}
