@use "_mixins.scss" as mixins;

aside {
  width: 370px;
  overflow: hidden;
    h2 {
    margin-bottom: 15px;
  }
}

.profile-pic {
  height: 300px;
}

.info-section {
  height: 50%;
  @include mixins.flexbox(row, space-between, flex-start);
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  margin: 4%;
}
