@use "_mixins.scss" as mixins;

aside {
  @include mixins.flexbox(column, flex-start, center);
  width: 370px;
  overflow: hidden;
    h2 {
    margin-bottom: 15px;
  }
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-pic {
  height: 300px;
}

.info-section {
  @include mixins.flexbox(row, space-between, flex-start);
}

table {
  margin-left: 12px;
  padding-right: 20px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  margin: 4%;
}
