/* body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */
html, body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  width: 100%;
  display:flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f5f6fa;
  height: 100px;
}

button {
  cursor: pointer;
}

p, h2 {
  text-align: center;
}

.dropdown-content {
  display: block;
  margin-left: 16px;
  text-align: center;
  background-color: LightGray;
  width: 85px;
  position: fixed;
  z-index: 1;
}

.nav-day-date {
  border: solid 2px black;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
}

.nav-date {
  display: inline;
}

.nav-day {
  display:inline;
}

aside {
  width: 370px;
  overflow: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
}

.profile-pic {
  height: 300px;
  background-color: LightGray;
}

.info-section {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  margin: 4%;
}

h4 {
  margin-top: 35px;
  margin-left: 60px;
  color: white;
}

.main-sections {
  display: flex;
  flex: 1;
  color: black;
  overflow: hidden;
}

.activity {
  width: 48%;
  background-color: #fd7326;
}

.activity-cards-second-row {
  display: flex;
}

.card {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  margin: 0px 15px 0px 15px;
}

.large {
  width: 430px;
}

.card-title{
  text-align: center;
  font-weight: bold;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2;
  grid-auto-rows: 2;
  grid-gap: 30px;
}

.hydration-sleep {
  width: 28%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hydration{
  background-color: #2e7ba6;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header {
  display: flex;
}

.date-toggle {
  border: solid 2px white;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  background-color: inherit;
  color: white;
  font-size: 16px;
  margin-top: 23px;
  margin-left: 15px;
  align-self: start;
}

.date-toggle p {
  margin: 0;
}

.sleep {
  background-color: #462c61;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.sleep-cards-first-row {
  display: flex;
}

.friends {
  background-color: #ECEDF2;
  width: 24%;
}

.hidden {
  display:none;
}
