/* body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */
html, body {
  display: flex;
  align-items: row;
  width: 100%;
  height: 100vh;
  border: solid green 2px;
  margin: 0px;
}

main {
  width: 100%
  /* border: orange solid 2px; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  /* border: solid red 2px; */
  background-color: #f5f6fa;
  height: 100px;
}

.nav-date {
  display: inline;
}

.day {
  display:inline;
}

aside {
  border: solid blue 2px;
  height: 100vh;
  width: 300px;
}

.activity-sections {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.hydration-section,
.sleep-section {
  display: flex;
  border: solid purple 2px;
  height: 400px;
  /* margin: 5px; */
}
