/* body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */
html,body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  width: 100%;
  height: auto;
  border: solid red 2px;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  /* border: solid red 2px; */
  background-color: #f5f6fa;
  height: 100px;
}

.nav-day-date {
  border: solid 2px black;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
}

.nav-date {
  display: inline;
}

.nav-day {
  display:inline;
}

aside {
  width: 370px;
  border: solid black 2px;
  overflow: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
}

.profile-pic {
  height: 300px;
  background-color: LightGray;
}

.info-section {
  display: flex;
}

h4 {
  margin-left: 60px;
}

.main-sections {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.activity {
  width: 48%;
  background-color: #fd7326;
}

.hydration-sleep {
  width: 28%;
  display:flex;
  flex-direction: column;
}

.hydration{
  background-color: #2e7ba6;
  height: 44%;
}

.sleep {
  background-color: #462c61;
  height: 44%;
}

.friends {
  background-color: #ECEDF2;
  width: 24%;
}
